fastapi
uvicorn
requests
python-dotenv
schedule
woocommerce
google-generativeai
google-genai
unidecode
thefuzz
jinja2
python-multipart
feedparser
lxml
moviepy==1.0.3
decorator==4.4.2
gTTS
imageio
numpy
psutil
